body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #257180;
}

h1 {
    font-size: 4rem;
    margin: 20px;
    color: #FD8B51;
}

.container {
    height: 450px;
    width: 450px;
    background-color: #CB6040;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.header {
    display: flex;
    width: 950px;
    justify-content: space-between;
}

.header h3 {
    color: #F2E5BF;
    font-size: 2rem;
    margin: 35px 0;
}

.box {
    height: 145px;
    width: 145px;
}

.box button {
    width: 100%;
    height: 100%;
    background-color: #257180;
    color: white;
    font-size: 5rem;
    cursor: pointer;
    border: none;
    outline: none;
}
p {
    font-size: 2rem;
    margin-top: 0;
    color: #F2E5BF;
}
.end-button {
    margin-top: 2rem;
}

.end-button button {
    width: 150px;
    height: 50px;
    background-color: #F2E5BF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}